Repository Torolfr/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, helm-deploy-production

frontend:
  stage: module-pipelines
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

helm-deploy-production:
  stage: module-pipelines
  when: manual
  trigger:
    include:
    - local: /infra/momo-store-chart/.gitlab-ci.yml
    strategy: depend

test helm cd
  infra/momo-store-chart/.gitlab-ci.yml
Due: helm-deploy-production

correct helm-charts
  infra/momo-store-chart/charts/backend/templates/deployment.yaml
  infra/momo-store-chart/charts/backend/templates/service.yaml
  infra/momo-store-chart/charts/frontend/templates/configmap.yaml
  infra/momo-store-chart/charts/frontend/templates/deployment.yaml
  infra/momo-store-chart/charts/frontend/templates/ingress.yaml
  infra/momo-store-chart/charts/frontend/templates/service.yaml
Due: helm-deploy-production

correct helm-charts
  infra/momo-store-chart/charts/backend/templates/deployment.yaml
Due: helm-deploy-production

correct ingress
  infra/momo-store-chart/charts/frontend/templates/ingress.yaml
Due: helm-deploy-production

Correct backend helm deployment
  infra/momo-store-chart/charts/backend/templates/deployment.yaml
  infra/momo-store-chart/charts/frontend/templates/deployment.yaml
  infra/momo-store-chart/charts/frontend/templates/ingress.yaml
Due: helm-deploy-production

Momo charts
  .gitlab-ci.yml
  infra/momo-store-chart/.gitlab-ci.yml
  infra/momo-store-chart/Chart.yaml
  infra/momo-store-chart/charts/backend/.helmignore
  infra/momo-store-chart/charts/backend/Chart.yaml
  infra/momo-store-chart/charts/backend/templates/deployment.yaml
  infra/momo-store-chart/charts/backend/templates/secrets.yaml
  infra/momo-store-chart/charts/backend/templates/service.yaml
  infra/momo-store-chart/charts/backend/templates/vpa.yaml
  infra/momo-store-chart/charts/frontend/.helmignore
  infra/momo-store-chart/charts/frontend/Chart.yaml
  infra/momo-store-chart/charts/frontend/templates/configmap.yaml
  infra/momo-store-chart/charts/frontend/templates/deployment.yaml
  infra/momo-store-chart/charts/frontend/templates/ingress.yaml
  infra/momo-store-chart/charts/frontend/templates/service.yaml
  infra/momo-store-chart/values.yaml
Due: helm-deploy-production

additionals for k8s
  infra/kubernetes/external-dns.sh
Due: none

k8s plugins
  infra/kubernetes/cert-manager.sh
  infra/kubernetes/ingress-nginx.sh
  infra/terraform/main.tf
Due: none

k8s plugins
  infra/kubernetes/key.json
  infra/kubernetes/vpa.sh
Due: none

k8s plugins
  infra/momo-store-chart/values.yaml
Due: helm-deploy-production

k8s-plugins
  infra/kubernetes/key.json
  infra/momo-store-chart/charts/frontend/templates/ingress.yaml
Due: helm-deploy-production

test helm
  infra/momo-store-chart/.gitlab-ci.yml
Due: helm-deploy-production

test cd with extends
  backend/.gitlab-ci.yml
  infra/momo-store-chart/.gitlab-ci.yml
Due: backend, helm-deploy-production

test cd with extends
  backend/.gitlab-ci.yml
Due: backend, helm-deploy-production

K8s plugins
  infra/kubernetes/cert-manager.sh
  infra/kubernetes/external-dns.sh
  infra/kubernetes/ingress-nginx.sh
  infra/kubernetes/vpa.sh
  infra/momo-store-chart/.gitlab-ci.yml
  infra/momo-store-chart/charts/frontend/templates/ingress.yaml
  infra/momo-store-chart/values.yaml
  infra/terraform/main.tf
Due: helm-deploy-production

ReadME
  README.md
  images/app.png
  infra/momo-store-chart/charts/backend/templates/secrets.yaml
  infra/terraform/main.tf
Due: helm-deploy-production

Read me
  README.md
  images/app.png
  images/momo-ci-cd.png
  images/nexus-helm-repo.png
  images/sonarqube.png
  infra/momo-store-chart/charts/backend/templates/secrets.yaml
  infra/momo-store-chart/charts/frontend/templates/ingress.yaml
  infra/terraform/main.tf
Due: helm-deploy-production

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  helm-deploy-production: any of: frontend/**/*, backend/**/*, infra/momo-store-chart/**/*
